/* ELEMENTOS PADRÕES */

/* Espaços */
Body {
    background-color: #1e1e1e;
    font: normal 15px Verdana;
}

header {
    font: normal 20px Montserrat;
    color: aliceblue;
    text-align: center;
    margin: 20px;
}

section {
    background-color: #252526;
    border-radius: 5px;
    /* padding: 20px; */

    width: 60%;
    max-width: 80%;
    min-width: 300px;

    display: flex;
    flex-direction: column;

    margin: auto;
    margin-bottom: 1%;
    color: aliceblue;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.096);
}


div {
    text-align: center;
}

/* Textos */

h1 {
    font: normal 16px Montserrat;
    color: aliceblue;
    text-align: center;
    /*margin: 10px;*/
    margin: 20px;
}

p {
    font: normal 13px Verdana;
    color: aliceblue;
    text-align: left;
}

@font-face {
    font-family: 'Montserrat';
    src: url('assets/Montserrat-Regular.ttf');
    format: ('truetype');
}

/* Elementos Especiais */

/*___ Botão ___*/

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item1 {
    align-items: center;
    text-align: left;
    display: flex;
    width: 100%;
}

.item2 {
    display: flex;
    flex-direction: row;
}

.arrow {
    width: 20px;
    cursor: pointer;
    height: 20px;
    margin-left: 3%;
    margin-right: 3%;
    transition: 0.3s;
}

.arrow:active {
    rotate: 90deg;
}

.flip {
    rotate: 90deg;
}

.flip:hover {
    rotate: 90deg;
}

.no-flip {
    rotate: 0deg;
}

a, footer {
    font-size: 10px;
    font-weight: normal;
}

h4 {
    font-weight: normal;
    width: 100%;
}

.bgc {
    background-color: rgb(53, 53, 53)
}

.m8-row {
    margin: 0px 8px 0px 8px 0px;
}

.m10-top {
    margin-top: 10px;
}

/* === 6. Media Queries ============================================ */

@media screen and (max-width:500px) {
    section {
        width: 80%;
    }

    h1 {
        font-size: 20px;
        font-weight: normal;
    }

    p {
        font-size: 14px;
        font-weight: normal;
    }

    a, footer {
        font-size: 12px;
        font-weight: normal;
    }

    .txt {
        font-size: 14px;
        font-weight: normal;
    }

    .txt-min {
        font-size: 12px;
        font-weight: normal;
    }
}

/* THE END */